# Spark Preparation
We check if we are in Google Colab.  If this is the case, install all necessary packages.

To run spark in Colab, we need to first install all the dependencies in Colab environment i.e. Apache Spark 3.2.1 with hadoop 3.2, Java 8 and Findspark to locate the spark in the system. The tools installation can be carried out inside the Jupyter Notebook of the Colab.
Learn more from [A Must-Read Guide on How to Work with PySpark on Google Colab for Data Scientists!](https://www.analyticsvidhya.com/blog/2020/11/a-must-read-guide-on-how-to-work-with-pyspark-on-google-colab-for-data-scientists/)

In [11]:
try:
  import google.colab
  IN_COLAB = True
except:
  IN_COLAB = False

In [12]:
if IN_COLAB:
    !apt-get install openjdk-8-jdk-headless -qq > /dev/null
    !wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
    !tar xf spark-3.2.1-bin-hadoop3.2.tgz
    !mv spark-3.2.1-bin-hadoop3.2 spark
    !pip install -q findspark

In [13]:
if IN_COLAB:
  import os
  os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
  os.environ["SPARK_HOME"] = "/content/spark"

# Pyspark_Transform_Action

In [14]:
from pyspark import SparkContext

sc = sc = SparkContext.getOrCreate()
sc

In [15]:
rdd = sc.parallelize(["Dog", "Cat", "Bird"])
rdd.map(lambda x: (x, 1)).collect()

[('Dog', 1), ('Cat', 1), ('Bird', 1)]

In [16]:
##Transform
rdd2 = rdd.map(lambda x: (x, 1 * np.random.normal()))

In [17]:
#Action
rdd2.collect()

[('Dog', 0.7612416651543428),
 ('Cat', 0.7612416651543428),
 ('Bird', -0.557197590204293)]

In [18]:
#Action
rdd2.collect()

[('Dog', 0.6655738097508176),
 ('Cat', -0.557197590204293),
 ('Bird', 0.6655738097508176)]

In [19]:
#cache
rdd2.cache()

PythonRDD[5] at collect at <ipython-input-17-45b290479d81>:2

In [20]:
#Action
rdd2.collect()

[('Dog', 1.4743553968165124),
 ('Cat', 1.4743553968165124),
 ('Bird', -0.03094973090168888)]

In [21]:
#Action
rdd2.collect()

[('Dog', 1.4743553968165124),
 ('Cat', 1.4743553968165124),
 ('Bird', -0.03094973090168888)]